.contenedor{
    width: 100%;
    height: 1400px;
    background-color: rgb(203, 28, 28);
}
.encabezado{
    width: 100%;
    height: 150px;
    background-color: rgb(235, 31, 218);
    font-size: 35px;
    text-align: center;
    color: rgb(252, 252, 252);
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    width: 100%;
    height: 80px;
    background-color: rgb(234, 246, 102);
    display: flex;
}
.inicio {
width: 100px;
height: 75px;
background-color: rgb(255, 255, 255);
margin: 2px;
}
.sociales{
    width: 100px;   
    height: 75px;
    background-color: rgb(255, 255, 255);
    margin: 2px;
}
.ingles{
    width: 100px;
    height: 75px;
    background-color: rgb(255, 255, 255);
    margin: 2px;
}
.biologia{
    width: 100px;
    height: 75px;
    background-color: rgb(255, 255, 255);
    margin: 2px;
}
.matematicas{
    width: 100px;
    height: 75px;
    background-color: rgb(255, 255, 255);
    margin: 2px;
}




.contenedor2{
    display: flex;
    width: 100%;
    height: 1200px;
    background-color: rgba(231, 123, 195, 0.986);
}
.izquierda{
    width: 20%;
    height: 1200px;
    background-color: rgba(231, 123, 195, 0.986);
    background-image: url("hello\ kitty\ #1.jpg");
    background-repeat: no-repeat;
   
}
.centro{
    width: 80%;
    height: 1200px;
    background-color:rgba(197, 123, 231, 0.986);
    font-size: 25px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("hello.hpg.jpg.HPG");
    background-repeat: no-repeat;
}

.derecha{
    width: 20%;
    height: 1200px;
    background-color:rgba(231, 123, 195, 0.986);
    font-size: 25px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("hello\ kitty\ #1.jpg");
    background-repeat: no-repeat;
}

   